.app__home-main {
  margin-top: 30px;
  padding-bottom: 2rem;

  &_title {
    color: var(--color-main);
    text-align: center;
  }

  &_navigate {
    text-align: center;
    margin-top: 1rem;

    button {
      border: none;
      outline: none;
      border-radius: 0.25rem;
      padding: 1rem;
      background-color: var(--color-main);
      color: white;
      cursor: pointer;

      &:active {
        transform: scale(0.95);
      }
    }
  }
}
