.app__navbar {
  width: 100%;
  height: 80px;

  &-container {
    height: 100%;
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px #e6e6e6 solid;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 500px) {
      flex-direction: column;
      padding-top: 1rem;
    }

    &_logo {
      color: var(--color-main);
      @media (max-width: 400px) {
        font-size: 20px;
      }

      @media (max-width: 230px) {
        font-size: 18px;
        text-align: center;
      }
    }

    &_links {
      display: flex;
      align-items: center;
      gap: 1.25rem;
      height: 100%;

      @media (max-width: 500px) {
        gap: 10px;
      }

      @media (max-width: 230px) {
        gap: 1rem;
      }

      li {
        color: rgb(110, 102, 102);
        font-size: 17px;
        transition: color 300ms ease;
        cursor: pointer;

        &:hover {
          color: var(--color-main);
        }

        @media (max-width: 500px) {
          font-size: 14px;
        }
      }

      a.active {
        color: var(--color-main);
      }
    }
  }
}
